/* Page container */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.home {
  min-height: 100vh;
  width: 100%;
  background-size: cover;    
  background-position: center;
  background-repeat: repeat-y;
  display: flex;             
  flex-direction: column;
  overflow: hidden;
  background:    linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 15%, transparent 30%), url('https://enews.wvu.edu/files/ecf90f3e-5f95-496e-b4a1-243a86f430e0/1200x?cb=91afb69cffd0d41227132e4836e592ac');
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end; 
  padding: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.welcome {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
