/* Page container */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.title-container h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  margin: 0 0 1rem 0;  
}

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;             
  flex-direction: column;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 6%, transparent 10%);
  background-color: #113008;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end; 
  padding: 1.5rem;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.navbar a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.busdelayshome {
  display: flex;
  position: relative;
  justify-content: center;
}

.busdelayshome h1 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: bold;
  top: -10px;
  font: 'Apple SD Gothic Neo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.map h3 {
  color: whitesmoke;
  font-weight: bold;
  font: 'Apple SD Gothic Neo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title-container, .map {
  display: flex;
  flex-direction: column;   
  align-items: center;
  text-align: center;
}


.title-logo {
  width: 500px;  
  height: auto;
}

